/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
  font-family: "Ruhl Medium";
  src: url(./fonts/FrankRuhlLibre-Medium.ttf);
}

@font-face {
  font-family: "Vibes";
  src: url(./fonts/GreatVibes-Regular.ttf);
}

html {
  font-size: 62.5%;
  scroll-padding-top: 10vh; /*We have 10vh header nav, so need to move scroll for #anchors*/
  scroll-behavior: smooth;

  /*vars for fluent grow*/
  --size-header1: calc(2rem + 1vw);
  --size-header2: calc(3.5rem + 1vw);
  --size-header3: calc(3rem + 1vw);
  --size-header4: calc(2.4rem + 1vw);

  --size-text: calc(1.5rem + 1vw);
  --size-text-big: calc(2.8rem + 1vw);

  --color-special: #906272;
  --color-background: #414141;
  --color-text-grey: #525252;
  --color-text-bright: white;

  --color-anchor-grey: var(--color-text-grey);
}

h1 {
  font-size: var(--size-header1);
}

h2 {
  font-size: var(--size-header2);
}

h3 {
  font-size: var(--size-header3);
}

h4,
h5 {
  font-size: var(--size-header4);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--size-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-anchor-grey);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
}

h1 {
  font-family: "Vibes", sans-serif;
}

/* Nav section */
.main-head {
  box-shadow: 0px 10px 10px rgba(50, 50, 0, 0.1);
  /*
    we need z & position because of linear-gradient on .hero-images overwrite shadow effect
  */
  z-index: 2;
  position: relative;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  flex: 1 1 20rem;
  display: flex;
  justify-content: space-around;
}

.hero {
  min-height: 90vh;
  /* to align text with header logo
  width: 95%;
  margin 0 0 0 auto;
  */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; /* hide horisontal scroll because of .plant2 going off-right-screen */
}

.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}
.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--color-text-grey);
}
.hero-introduction h2 {
  padding: 3rem;
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 4rem;
}
.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#aad1d4, #dad8dd);
  position: relative; /* for .plant - to be placed inside this section*/
  z-index: 1;
}

.hero-elena {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  /* for animation */
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate 2s;
  transform-origin: bottom;
  max-height: 80%;
}

.plant2 {
  left: 40%;
}

/* Animations */
@keyframes Opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-5deg);
  }
}

/* Burger */
header {
  --menu-hiding-percent: 100%;
}

.burger,
.menu-check-for-burger {
  display: none;
}

/* About Section */

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  flex: 1 1 40rem;
  position: relative;
}
.about-image h5 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2rem;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  flex: 2 1 40rem;
  justify-content: space-around;
  background: var(--color-background);
  color: var(--color-text-bright);
}

.about-text div {
  padding: 3rem 8rem;
}

.about-text h3 {
  padding: 2rem 0rem;
  font-family: "Ruhl Medium";
}

.about-text h2 {
  padding: 4rem;
  font-family: "Vibes";
}

/* Gallery */
.gallery {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.gallery-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--color-background);
  color: var(--color-text-bright);
  opacity: 80%;

  padding: 5rem 10rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery1 {
  grid-column: 1/3;
}

.gallery2 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.gallery3 {
  grid-column: 1/2;
}

.gallery4 {
  grid-column: 2/3;
}

/* Contact section */
.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper {
  flex: 3 1 40rem;
}

.form-wrapper h2 {
  margin: 5rem 0rem;
}

.form-wrapper label {
  display: block; /* force-move to the new line */
}

.form-wrapper input {
  display: block; /* force-move to the new line */
  margin: 3rem 0rem;
  background-color: var(--color-background);
  color: var(--color-text-bright);
  border: none;
  padding: 1rem;
}

.form-wrapper button {
  padding: 1rem 8rem;
  background-color: var(--color-special);
  color: var(--color-text-bright);
  width: 100%;
  border: none;
}

.form-wrapper h2 > span {
  font-size: calc(var(--size-header2) * 2);
  color: var(--color-special);
}

.contact img {
  flex: 1 1 40rem;
}

/* Footer */
footer {
  background: var(--color-background);
  color: var(--color-text-bright);
  display: flex;
  padding: 3rem 5%;
  align-items: center;
}

footer h4 {
  flex: 4 1 40rem;
  font-size: calc(1.4rem + 1vw);
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/* Should be at the end, because rewrite existed styles */
@media screen and (max-width: 842px) {
  .burger {
    position: relative;
    display: block;
  }

  .burger span {
    padding: 0.2rem 2rem;
    background: var(--color-text-grey);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: white;
    font-size: var(--size-header3);
    text-decoration: underline;
  }

  .nav-links {
    background: var(--color-background);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: var(--menu-hiding-percent);
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .menu-check-for-burger {
    display: block;
    position: absolute; /* .main-head is relative, top 50% will relate to middle */
    top: 50%;
    right: 5%; /* because nav is 90% and this is a half */
    transform: translate(10%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 20%; /* 0 in prod */
    z-index: 100;
  }

  .menu-check-for-burger:checked + .nav-links {
    transform: translate(calc(-1 * var(--menu-hiding-percent)));
  }
  .menu-check-for-burger:checked ~ .burger span {
    background: white;
  }
  .menu-check-for-burger:checked ~ .burger span:nth-child(1) {
    transform: rotatez(45deg) translateY(300%);
  }
  .menu-check-for-burger:checked ~ .burger span:nth-child(2) {
    opacity: 0;
  }
  .menu-check-for-burger:checked ~ .burger span:nth-child(3) {
    transform: rotatez(-45deg) translateY(-300%);
  }

  /* non-burgers */
  .hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 5rem 3rem;
  }

  /* About section */
  .about-text div {
    padding: 3rem 3rem;
  }

  /* Gallery */
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gallery-head {
    display: none;
  }

  .contact img {
    display: none;
  }

  footer ul {
    order: 1;
  }

  footer h4 {
    order: 2;
    text-align: center;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --size-header1: 3rem;
    --size-header2: 4.5rem;
    --size-header3: 3.5rem;
    --size-header4: 2.5rem;

    --size-text: 3rem;
    --size-text-big: 6rem;
  }
}
