html {
  font-size: 62.5%;
}
button {
  margin: 20rem;
  padding: 2rem 4rem;
  font-size: 2.4rem;
  background: none;
  background-color: orangered;
  border: 0.3rem solid blue;
  color: wheat;
  border-radius: 1rem 25%;
}
