* {
  font-size: 20px;
}

h3 {
  color: yellowgreen;
}

.first-title {
  color: rgb(68, 184, 139);
}

#youtube-link {
  color: darkmagenta;
}

h1 {
  color: cornflowerblue;
}

.random h1 {
  color: hotpink;
}

section > p {
  border: 1pt;
  color: khaki;
}

.my-list + ul {
  list-style-type: lower-greek;
}

.nav-links li {
  color: fuchsia;
}

.nav-links li a {
  color: black;
}

ul li:nth-child(2) {
  background-color: yellow;
}
