/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
  --size-header1: calc(
    $size-header1 + 1vw
  ); // another way to utilize scss var with dynamic size
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: $size-header1;
}

h2 {
  font-size: $size-header2;
}

h3 {
  font-size: $size-header3;
}

h4,
h5 {
  font-size: $size-header4;
}

li,
button,
label,
input,
a,
p {
  font-size: $size-text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey-text;
}
