/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*
      scroll-padding-top: 10vh; /*We have 10vh header nav, so need to move scroll for #anchors
      */
  scroll-behavior: smooth;

  --size-header1: calc($size-header1 + 1vw); // another way to utilize scss var
}

h1 {
  font-size: var(--size-header1);
}

h2 {
  font-size: var(--size-header2);
}

h3 {
  font-size: var(--size-header3);
}

h4,
h5 {
  font-size: var(--size-header4);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--size-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-anchor-grey);
}
