/* Animations for Intro styles */

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  animation: plant 1.6s ease-out infinite alternate 0.5s;
}

#me {
  transform-origin: bottom;
  animation: me 3s ease infinite alternate;
}

#clock-arrow {
  animation: clock 3s linear infinite;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
