/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  color: white;
}

button {
  color: white;
  background-color: blueviolet;
  border: none;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Nav section with hero */
.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: left;

  width: 90%;
  margin: auto;

  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

#logo a {
  text-decoration: none;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(125, 0, 125, 0.5), transparent),
    url("/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
}
