/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  color: white;
}

button {
  color: white;
  background-color: blueviolet;
  border: none;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 1s ease-in-out;
  transition: font-size 0.2s ease-in-out;
  /* transition: all 0.1s ease-in-out 1s;*/
}

button:hover {
  background: darkmagenta;
  font-size: 2.6rem;
}

/* Nav section with hero */
.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: left;

  width: 90%;
  margin: auto;

  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

#logo a {
  text-decoration: none;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(125, 0, 125, 0.5), transparent),
    url("/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* BENEFITS Section */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(125, 0, 125, 0.5), transparent),
    url("/img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-shadow: white 2px 2px 2px;
  position: relative; /* for the clouds */
  overflow: hidden; /* hide clouds which move outside during animation */
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline overline dashed purple;
}

.locations-head h3 {
  padding: 4rem 0rem;
  text-shadow: none;
  background: linear-gradient(#2f8cfd, #999920);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cloud {
  position: absolute;
  top: 0;
  right: 0;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 7s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
  }
  100% {
    transform: translate(10%, -10%);
  }
}

/* Benefits section */

.benefits-head {
  background: darkgrey;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2), 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 3rem;
}

.card-icon {
  background: darkslateblue;
  justify-content: center;
  align-items: center;
}

#contacts {
  min-height: 100vh;
  background: linear-gradient(rgba(125, 0, 125, 0.5), transparent),
    url("./img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.5);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form {
  padding: 3rem;
  text-align: center;
}

.email-form {
  padding: 3rem;
  text-align: center;
}

footer {
  color: wheat;
  background: darkslateblue;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
}

footer h5 {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none; /*to not mouse drag clouds image*/
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(125, 0, 125, 0.5);
    color: white;
  }

  .form-wrapper {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    padding-bottom: 3rem;
  }
}
